---
import Card from '../../components/Card.astro';
import ContentPage from '../../layouts/ContentPage.astro';
---

<ContentPage>
	<Card>
		<p style="margin-top: 0;">Coming soon when i finish chem psets</p>
		
	</Card>
</ContentPage>
