

<li class="link-card">
	<slot/>
</li>
<style is:global>
	.link-card {
		list-style: none;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		padding: calc(1.5rem - 1px);
	}
</style>
